* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}
#waybar {
  background: #161616;
  color: #eeeeef;
  font-size: 14px;
  font-family: "JetBrainsMono Nerd Font, FontAwesome";
}

#workspaces button {
  padding: 0 5px;
  color: #eeeeef;
}
/* Fix: active workspace doesn't show up */
/* #workspaces button.focused { */
#workspaces button.active {
  color: #fa5aa4;
}

#custom-powermenu,
#cpu,
#temperature,
#memory,
#workspaces,
#clock,
#idle_inhibitor,
#window,
#pulseaudio,
#custom-updates,
#network {
  padding: 4px 8px;
  background-color: #303643;
  border-radius: 30px;
  margin: 6px 4px;
}

#window {
  color: #929db1;
}

#tray {
  margin-left: 4px;
}

#custom-updates {
  color: #FFFFFF;
}

#custom-powermenu {
  color: #FFFFFF;
  padding-right: 11px;
  margin-right: 8px;
}

#scratchpad {
  color: #FFFFFF;
  padding-right: 4px;
  padding-left: 4px;
}

#pulseaudio {
  color: #FFFFFF;
  padding-right: 14px;
}

#cpu {
  color: #FFFFFF;
}

#temperature {
  color: #FFFFFF;
}

#memory {
  color: #FFFFFF;
}

#network {
  color: #FFFFFF;
  min-width: 200px;
}
#idle_inhibitor.deactivated {
  color: rgba(255, 255, 255, 0.3);
  padding-right: 15px;
}
#idle_inhibitor.activated {
  padding-right: 15px;
}
#clock {
  color: #fff;
  margin-left: 8px;
  /* opacity: 0.7; */
  /* font-size: 18px; */
}

