* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
  letter-spacing: 0.8px;
}

.modules-right, .modules-left, .modules-center {
  margin: 4px;
}

.modules-right > * > *, .modules-left, .modules-center {
  border-radius: 12px;
}

.modules-right > * > * {
  padding: 0px 12px;
  font-weight: bold;
  background-color: #323437;
  margin-left: 8px
}

.modules-center {

}

#tray {
  padding: 0px 12px;
}

window#waybar {
  background-color: #080808;
  color: #dcdcdc;
  font-weight: bold;
  border: solid 10px #080808;
}

.modules-left {
  background-color: #323437;
}

#window {
  background-color: #323437;
  border-radius: 12px;
  padding: 0px 12px;
}

window#waybar.empty #window {
  background-color: transparent;
}

#workspaces button {
  font-weight: bold;
  padding: 2 5px;
  background: none;
  border: none;
  border-radius: 1000px;
  color: #9bb8f2;
  border: solid 2px #323437;
}

#workspaces button.focused, #workspaces button.active {
  background-color: #323437;
  color: #fff;
  border: solid 2px #80a0ff;
}

#mpris {
  padding: 2 6px;
  background-color: #26304c;
  font-weight: bold;
}

#mpris.spotifyd, #mpris.spotify {
  background-color: #26304c;
  /* color: #fff; */
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 0px 12px;
}


